* {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.container {
    background-image: linear-gradient(135deg, rgb(253,179,33), #DC8A7F);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 750px;
    
}

.title {
    padding: 25px;
    font-size: 6rem;
    color: #a72907;
}

.card {
    width: 80%;
    height: 70%;
    background: linear-gradient(135deg, #A5B2DF, #BC4524);
    border-radius: 10px;
    display: flex;
    padding: 25px 0px;
    min-height: 400px;
    
}



.add__delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    min-width: 60px;
    gap: 50px;
}

.add__container {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.add_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.edit__container {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.edit_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.complete__container {
    width: 45px;
    height: 45px;
    background-color: #f69278;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 2px #5e3963;
}

.complete_img{
    width: 70%;
    height: 70%;
    background-color: #D2D8EF;
    clip-path: polygon(9% 42%, 41% 73%, 88% 2%, 100% 11%, 43% 100%, 0 55%);
}

.remove__container {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove_image {
    width: 150%;
    height: 150%;
    object-fit: cover;
    cursor: pointer;
}

.left__card {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.list__container {
    background: wheat;
    width: 100%;
    height: calc(100%-12px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 6px 0px 0px 0px;
}

.task {
    padding: 15px;
    width: calc(100% - 50px);
    border-radius: 10px;
    box-shadow: 4px 4px #B4BDE4;
    margin-bottom: 6px;
    animation: appear 1s forwards;
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.task.delete__task {
    animation: delete 1s forwards;
}

@keyframes delete {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.task:hover {
    outline: solid 4px rgb(189, 127, 4);
}

.focus {
    outline: solid 4px #e9a49b;
}

.complete {
    background: #D2D8EF;
}

.low {
    background: linear-gradient(135deg, #D2D8EF, #A0CFB8);
}

.medium {
    background: linear-gradient(135deg, #D2D8EF, rgba(255, 255, 0, 0.897));
}

.high {
    background: linear-gradient(135deg, #D2D8EF, #BC4524);
}

.task__description {
    display: none;
}

.right__card{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.description {
    width: 90%;
    height: calc(90%-20px);
    border-radius: 5px;
    background: #F2D3CF;
    padding: 10px;
}

.modal {
    position: absolute;
    z-index: 1;
    background-color: rgb(165,178,223,0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.form {
    width: 40%;
    height: 60%;
    padding: 10px;
    background: #DC8A7F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.close {
    background: rgb(0,0,0,.6);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    ;
    width: 20px;
    height: 20px;
    position: absolute;
    align-self: flex-end;
    cursor: pointer;
}


.priority {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;   
}

/* Scroll */ 
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(167,41,1,0.1);
    border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(167,41,1,0.5);
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(167,41,1);
    border-radius: 12px;
}



@media (max-width: 700px){
    .title {
        font-size: 2rem;
    }
    .container {
        min-height: 560px;
    }
    
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 95%;
        margin-bottom: 10px;
        height: 80vh;
    }
    .add__delete {
        flex-direction: row;
        width: 90%;
        justify-content: space-around;
        gap: 0px;
    }
    .left__card {
        width: 90%;
        overflow-y: auto;
    }
    
    .right__card {
        width: 90%;
        height: 30%;
        max-height: 30%;
        margin-bottom: 5px;
    }
    
    .description {
        width: 100%;
        overflow-y: auto;
        height: 100%;
    }

    .form {
        width: 80%;
    }
}